.password-eye-input-group {
    display: flex;
    flex-direction: column;
}
  
.password-eye-input-label {
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
    color: var(--text-secondary);
}
  
.password-eye-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
  
/* Input field styling (similar to the basic input styles) */
.password-eye-input-field {
    width: 100%;
    padding: 0 2.5rem 0 0.8rem;
    font-size: 0.9rem;
    border: 1px solid var(--background-secondary);
    background-color: var(--background-secondary);
    border-radius: 10px;
    color: var(--text-primary);
    outline: none;
    transition: border-color 0.2s;
    height: 42px;
}
  
.password-eye-input-field:focus {
    border-color: var(--border-secondary);
}
  
/* Eye icon styling */
.password-eye-icon {
    position: absolute;
    right: 0.75rem;
    height: 20px;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 1.1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}
  
.password-eye-icon:hover {
    transform: scale(1.2);
    color: var(--main-primary);
}
  